*{
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    color: rgb(0, 67, 122);

}

body{
    background-color: rgb(207, 204, 204);
}

header{
    width: 800px;
    height: 50px;
    background-color: rgb(238, 232, 232);
    display: block;
    margin: auto;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(12, 55, 91, 0.521);
    box-sizing: border-box;
    z-index: 1;
}

#menu_bar{
    margin: auto;
    width: 660px;
    height: 30px;
    position: relative;


}

.menu_item{
    list-style: none;
    float: left;
    margin: 12px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 900;   
}

a{
    text-decoration: none;
}

.menu_item:hover{
    border-bottom: 2px solid rgba(12, 55, 91, 0.521);
    box-sizing: border-box;
    cursor: pointer;
    

}

/* #warning{
    margin: auto;
    text-align: center;
    width: 800px;
    height: 30px;
    background-color: rgb(238, 232, 232);
    color: rgb(247, 0, 0);
    font-weight: bold;

    
} */

#warning_seal{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 550px;
    bottom: 300px;
    border-radius: 50px;
    color: white;
    text-align: center;
    

}

#title_section{
    width: 800px;
    height: 400px;
    background-image: url(../Assets/rio_statue_bg.jpg);
    background-size: cover;
    display: block;
    margin: auto;

}

#title_box{
    width: 400px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.644);
    display: block;
    margin: auto;
    box-sizing: border-box;
    border-radius: 15px;    
}

.light_section{
    width:800px;
    height: 280px;
    background-color: rgb(238, 232, 232);
    display: block;
    margin: auto;
    
}



#honored_guests{
    margin-top: 10px;
}

#quote_section_background{
    width: 800px;
    height: 2250px;
    background-color: rgb(12, 55, 91);
    display: block;
    margin: auto;
    padding-bottom: 250px;
}


.portrait{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

.portrait_honored{
    width: 200px;
    height: 200px;
    border-radius: 50%;

}

#quote_section_fernando{
    width: 800px;
    height: 470px;
    display: block;
    margin: auto;
}


#quote_section_lukas{
    width: 800px;
    height: 1020px;
    display: block;
    margin: auto;
}

#quote_section_christian{
    width: 800px;
    height: 625px;
    display: block;
    margin: auto;
}

.prof_names{
    color: rgb(238, 232, 232); 
    font-size: 20px; 
    text-align: center;
    font-weight: bold;
}

.quote{
    background-color: rgba(238, 232, 232, 0.11);
    border-radius: 5px;
    padding:10px;
    border: solid 1px rgba(139, 136, 136, 0.644)
}

.partner_section{
    width:800px;
    height: 465px;
    background-color: rgb(238, 232, 232);
    display: block;
    margin: auto;
}


.partner_box{
    background-color: rgba(12, 55, 91, 0.068);
    border: 1px solid rgba(12, 55, 91, 0.267);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 30px ;
}

#partner_box_footer{
    background-color: rgba(219, 229, 236, 0.932);
    border: 1px solid rgba(242, 245, 248, 0.623);
    border-radius: 5px;
    box-sizing: border-box;
    margin: auto;
    height:50px;
}

.map_section{
    width:800px;
    height: 450px;
    background-color: rgb(238, 232, 232);
    display: block;
    margin: auto;
    padding-top: 50px;
}

.map_box{
    background-color: rgba(12, 55, 91, 0.068);
    border: 1px solid rgba(12, 55, 91, 0.267);
    border-radius: 5px;
    box-sizing: border-box;
    margin: 10px;
    width: 310px;
    height: 340px;
    text-align: center;
}

#faculty_and_focus_background{
    width: 800px;
    height: 1350px;
    background-color: rgb(12, 55, 91);
    display: block;
    margin: auto;
    padding-top: 30px;
}

#faculty_section{
    width: 800px;
    height: 450px;
    display: block;
    margin: auto;
}

.faculty_box{
    width: 270px;
    height: 345px;
}

.faculty_names{
    color: white;
    padding-left: 10px;
    font-size: 17px;

}


.cadaver_team_section{
    width: 800px;
    height: 320px;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.cadaver_box{
    width: 260px;
    height: 200px;
}

.focus_themes_section{
    width: 800px;
    height: 530px;
    display: block;
    margin: auto;
    padding-top: 40px;
}

.focus_themes_box{
    width: 350px;
    height: 300px;
}

.focus_themes_topics{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;
    text-align: left;
    list-style-position: inside;
    
}

#accomodation_section{
    width:800px;
    height: 600px;
    background-image: url(../Assets/windsor_hotel.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

#hotel_box{
    width: 480px;
    height: 200px;
    background-color: rgba(12, 55, 91, 0.808);
    display: block;
    margin: auto;
    box-sizing: border-box;
    border-radius: 15px;    
}

footer{
    width: 800px;
    height: 475px;
    display: block;
    margin: auto;
    background-color: rgb(12, 55, 91);

}

#register_section{
    width:800px;
    height: 670px;
    background-color: rgb(238, 232, 232);
    display: block;
    margin: auto;

}


#send_button{
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color:rgb(12, 55, 91);
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: auto;
    display: block;
    cursor: pointer;
}

#send_button:hover{
    background-color:rgba(12, 55, 91, 0.788);
    color: rgb(182, 182, 182);
    font-weight: 600;
    border: 1px solid;
    box-sizing: border-box;
}

.brazil_flag:after{
    display: inline-block;
    src:url(../Assets/brazil_flag.png)
    
}